*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;

}
body{
  background: #000;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#root{

  height: 100%;
  width: 100%;
  margin: 10px;
}


